<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b792a0">  <td>19/09/10 21:47:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoTestNG.before_method()[pri:0, instance:TestNG.DemoTestNG@2b2948e2]">&gt;&gt;before_method</td> 
<td>&nbsp;</td>  <td>main@1150538133</td>   <td></td> </tr>
<tr bgcolor="b792a0">  <td>19/09/10 21:47:42</td>   <td>4722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTestNG.flipkartLogin()[pri:0, instance:TestNG.DemoTestNG@2b2948e2]">flipkartLogin</td> 
  <td>main@1150538133</td>   <td></td> </tr>
</table>
